%h1 Devices

- @devices.each do |display_name, name, device|
  .device
    %h2= display_name
    .entry
      =label_tag "#{name}_controller_mode", "Controller Mode: "
      =select_tag "#{name}_controller_mode", options_for_select(['MANUAL', 'MANUAL_DATA_ENTRY', 'AUTOMATIC']),
          onchange: "$.post('/page/update_mode', {'_method':'put', 'changes': {'#{name}_mode':this.value}});"
      %br
      =label_tag "#{name}_execution", "Execution: "
      =select_tag "#{name}_execution", options_for_select(['READY', 'ACTIVE'])
    - device.each do |component_type, components|
      - components.each do |component|
        - if component_type == 'Rotary' or component_type == 'Linear'
          %h3= "#{component_type} #{component.name}"
        - else
          %h3= "#{component_type}"
        %table
          - component.values.each do |v|
            %tr
              %td= v.item
              %td{id: "#{name}_#{v.id}"}= v.value



